{% extends 'base.html' %}

{% block pagination %}
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
{% endblock pagination %}

{% block content %}
  <main class="shoppinglist-grid">
    <h1>Your shopping list</h1>
    <div>
      <form method="post" action="{% url 'delete_all_shopping_items' %}">
        {% csrf_token %} 
        {{ form.as_p }}
        <div class="control">
         <button class="button">Delete all</button>
        </div>
      </form>
    </div>   
    <ul>
      {% for item in shoppingitem_list %}
        <li>{{ item.food_item }}</li>
      {% endfor %}
    </ul>
    {% for ingredient in recipe.ingredients.all %}
    <tr>
      <td>{{ ingredient.amount }}</td>
      <td>{{ ingredient.measure.name }}</td>
      <td>{{ ingredient.food.name }}</td>

      <td>
        {% if ingredient.food not in food_item.shopping_item %}
          <form method="POST" action="{% url 'shopping_item_create' %}">
            {% csrf_token %}
            <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
            <button>+ shopping list</button>
          </form>
        {% else %}
          in your list
        {% endif %}
      </td>
    </tr>
  {% endfor %}  
  </main>
{% endblock content %}