{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
  <main class="meal_plan-detail">
    <div>
      <a href="{% url 'meal_plan_edit' meal_plan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' meal_plan.id %}">Delete</a>
    </div>
    {% if meal_plan.image %}
      <img src="{{ meal_plan.image }}" class="pull-right">
    {% endif %}
    <h1>{{ meal_plan.name }}</h1>
    <!-- Add the author of the meal_plan -->
    <h2>by: {{ meal_plan.author | default_if_none:"Unknown" }}</h2>
    <p>
      Created on {{ meal_plan.created }} |
      Updated on {{ meal_plan.updated }}
    </p>
    {% comment %} <form method="post" action="{% url 'meal_plan_rating' meal_plan.id %}">
      {% csrf_token %}
      <div class="rating-form-grid">
        {{ rating_form.as_p }}
        <button class="button">Rate</button>
      </div>
    </form> {% endcomment %}
    {% comment %} <p>Tags: {% for tag in recipes.tags.all %}{{ tag.word }} {% endfor %}</p> {% endcomment %}
    {{ meal_plan.description | markdownify }}
    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th colspan="2">Amount</th>
          <th>Food item</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in meal_plan.recipes.all %}
          <div>
            <a href="{% url 'recipe_detail' recipe.pk %}"> {{ recipe.name}} </a>
          </div>
        {% endfor %}
      </tbody>
    </table>
    {% comment %} <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
      {% endfor %}
    </ol> {% endcomment %}
  </main>
  {% endblock content %}