{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a href="{% url 'tags_list' %}">Tags</a>
        </li>
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li>
          <a href="{% url 'recipes_list' %}">Recipes</a>
        </li>

        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'meal_plan_list' %}">Meal Plans</a>
          </li>
          <li>
            <a href="{% url 'shopping_item_list' %}">
              Shop List ({{ user.shopping_items.all|length }})
            </a>
          </li>            
            <a href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'login' %}">login</a>
        {% endif %}
      </ul>
    </nav>
    {% if user.is_authenticated %}
      <h3>Welcome, {{ user.username }}</h3>
    {% endif %}
    {% block pagination %}
    {% endblock pagination %}
  </header>
  {% block content %}
  {% endblock content %}
</body>

</html>
